---
import Header from './header.vue';
import Footer from './footer.vue';
import Kv from './kv.vue';
import Intro from './intro.vue';
import Speaker from './speaker.vue';
import Agenda from './agenda.vue';
import SignUp from './signUp.vue';
import Event from './event.vue';
import Gototop from './Gototop.vue';
import SignUpFiexd from './SignUpFiexd.vue';

import infoData from '../assets/json/info.json'
import speakers from '../assets/json/speaker.json'

import '../styles/global.css';
---

<div id="container">
	<main>
		<Header menu={infoData.menu} client:load />
		<section id="kv" class="relative w-full overflow-hidden">
			<Kv client:load />
		</section>
		<section id="intro" class="relative w-full overflow-hidden">
			<Intro infoData={infoData.content[0]} client:load />
		</section>
		<section id="speaker" class="relative w-full overflow-hidden">
			<Speaker speakers={speakers.data} infoData={infoData.content[1]} client:load />
		</section>
		<section id="agenda" class="relative w-full overflow-hidden">
			<Agenda infoData={infoData.content[2]} client:load />
		</section>
		<section id="signUp" class="relative w-full overflow-hidden">
			<SignUp infoData={infoData.content[3]} client:load />
		</section>
		<section id="event" class="relative w-full overflow-hidden">
			<Event infoData={infoData.content[4]} client:load />
			<Footer footerInfo={infoData.footer} client:load />
		</section>

		<SignUpFiexd client:load />
		<Gototop client:load />
	</main>
</div>

<style>
	.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
	}
	.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
	}
	.logo.vue:hover {
	filter: drop-shadow(0 0 2em #42b883aa);
	}

	#intro{
		padding: 90px 0;
		background: url('../assets/image/intro_bg.png') center center no-repeat;
		background-size: cover;
	}

	#speaker{
	background: url('../assets/image/kv_bg.png') fixed center center no-repeat;
	background-size: cover;
	}

	#agenda{
	background: url('../assets/image/event_bg.png') center center no-repeat;
	background-size: cover;
	}

	#signUp{
	background: url('../assets/image/sign_up_bg.png') fixed center center no-repeat;
	background-size: cover;
	}

	#event{
	background: url('../assets/image/event_bg.png') center center no-repeat;
	background-size: cover;
	}

	@media screen and (max-width: 1024px) {
		#intro{
			padding: 0 0;
		}
	
	}
</style>
