---
import Header from './header.vue';
import Footer from './footer.vue';
import Kv from './kv.vue';
import About from './about.vue';
import Speakers from './speakers.vue';
import Agenda from './agenda.vue';
import SignUp from './signUp.vue';
import Event from './event.vue';
import Logo from './logo.vue';
import Gototop from './Gototop.vue';
import SignUpFiexd from './SignUpFiexd.vue';

import infoData from '../assets/json/info.json'
import speakers from '../assets/json/speaker.json'

import '../styles/global.css';
---

<div id="container">
	<main>
		<Header menu={infoData.menu} client:load />
		<section id="kv" class="relative w-full overflow-hidden">
			<Kv client:load />
		</section>
		<section id="about" class="relative w-full overflow-hidden">
			<About infoData={infoData.content[0]} client:visible />
		</section>
		<section id="speakers" class="relative w-full overflow-hidden">
			<Speakers speakers={speakers.data} infoData={infoData.content[1]} client:visible />
		</section>
		<section id="agenda" class="relative w-full overflow-hidden">
			<Agenda infoData={infoData.content[2]} client:visible />
		</section>
		<section id="signUp" class="relative w-full overflow-hidden">
			<SignUp infoData={infoData.content[3]} client:visible />
		</section>
		<!-- <section id="event" class="relative w-full overflow-hidden">
			<Event infoData={infoData.content[4]} client:visible />
		</section> -->
		<section id="logo" class="relative w-full overflow-hidden">
			<Logo infoData={infoData.content[5]} client:visible />
		</section>
		<section id="footer" class="relative w-full overflow-hidden">
			<Footer footerInfo={infoData.footer} client:visible />
		</section>

		<SignUpFiexd client:load />
		<Gototop client:load />
	</main>
</div>

<style>
	.logo {
		height: 6em;
		padding: 1.5em;
		will-change: filter;
		transition: filter 300ms;
	}
	.logo:hover {
		filter: drop-shadow(0 0 2em #646cffaa);
	}
	.logo.vue:hover {
		filter: drop-shadow(0 0 2em #42b883aa);
	}

	#about{
		padding: 90px 0;
		background: url('../assets/image/about_bg.png') center center no-repeat;
		background-size: cover;
	}

	#speakers{
		background: url('../assets/image/speaker_infinity_bg.png') fixed center center no-repeat;
		background-size: cover;
		background-color: #fff;
	}

	#agenda{
		background: url('../assets/image/agenda_bg.png') center center no-repeat;
		background-size: cover;
	}

	#signUp{
		background: url('../assets/image/speaker_infinity_bg.png') fixed center center no-repeat;
		background-size: cover;
		background-color: #fff;
	}

	#event{
		background: url('../assets/image/industry_bg.png') center center no-repeat;
		background-size: cover;
        border-top: 3px solid #29abe2;
        border-bottom: 3px solid #29abe2
	}

	#logo{
		background-color: #fff;
	}

	@media screen and (max-width: 1024px) {
		#about{
			padding: 0 0;
		}
	
	}
</style>
